<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARROSSEL</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="carrossel">
        <h1 class="carrossel-titulo"> POSTAGENS EM DESTAQUE </h1>
        <!-- SLIDER / CARROSSEL -->
        <div class="slider">
            <!-- Botoes de Seta -->
            <div class="nav-arrow arrow-left" id="arrow-left">&#10094;</div>
            
            <ul class="slider-conteudo">

                <div class="carrossel-item"><img src="https://picsum.photos/id/1011/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1012/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1013/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1015/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1016/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1021/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1024/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1025/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1031/800/500" alt=""></div>
                <div class="carrossel-item"><img src="https://picsum.photos/id/1033/800/500" alt=""></div>

            </ul>

            <!-- Label dos botoes -->
            <div class="radio-auto">
                <label class="radio-label"></label>
                <label class="radio-label"></label>
                <label class="radio-label"></label>
                <label class="radio-label"></label>
                <label class="radio-label"></label>
            </div>
                
            <div class="nav-arrow arrow-right" id="arrow-right">&#10095;</div>

        </div>
    </div>

</body>
</html>
