<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel Live Code</title>
    <link rel="stylesheet" href="/public/css/styles-U.css">
</head>
<body>

    <div class="carrossel">

        <h1 class="titulo-do-carrossel"> CARROSSEL </h1>

        <div class="slider">
            <div class="nav-arrow arrow-left" id="seta-esquerda">&#10094</div>

            <div class="slider-conteudo">
                <div class="slider-item"><img src="https://picsum.photos/id/1011/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1012/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1013/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1015/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1016/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1021/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1024/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1025/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1031/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1033/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1011/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1012/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1013/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1015/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1016/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1021/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1024/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1025/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1031/800/500" alt=""></div>
                <div class="slider-item"><img src="https://picsum.photos/id/1033/800/500" alt=""></div>
            </div>

            <div class="nav-arrow arrow-right" id="seta-direita">&#10095</div>

            <div class="radio-auto">
                <label class="radio-label"></label>
            </div>
            
        </div>
    </div>    

    <script src="/public/js/script-U.js"></script>
</body>
</html>